/* Add your CSS Code here */

.thumbnail>img {
width: 350px;
height: 350px;
background-image: url("paper.gif");

}
body{
	background-color: #c6c5b9;
}

.navbar-header{
  color: "blue";
}

#map{
	height: 500px;
	width: 100%;
}

nav{
	position: fixed;
}




