<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS --> 
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
<!-- Latest compiled JavaScript --> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0pxScfRTwP9gcS3Ff0lG884qJJiE8Crs"></script>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='cntrystyle.css')}}">
<script src="{{url_for('static', filename='specificcountry.js')}}"></script>

  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="author" content="Jake Rocheleau">
  <link rel="shortcut icon" href="http://www.webdesignerdepot.com/favicon.ico">
  <link rel="icon" href="http://www.webdesignerdepot.com/favicon.ico">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Wellfleet">



<!-- rendering the map -->
<script type="text/javascript">
  $(document).ready(function(){
    initialize({{country.lat|tojson}}, {{country.lon|tojson}});
  });
</script>
	<style>
	h3{
		background-color: #E9E6FF;
	    border: 4px;
	    border-color: blue;
	}
	</style>
</head>
<body> 

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">MEET The Countries</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li><a class="normal" href="{{url_for('userprofile')}}">Profile</a></li>
        <li><a class="normal" href="{{url_for('map')}}">Countries</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="normal" href="{{url_for('logout')}}"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<form class="form-horizontal" role="form" action="{{url_for('countryprofile', country_id=country.id)}}" method="POST">

<div id="map"></div>


<div id="w">
    <h1>Posts</h1>
    <div id="container">
          <ul id="comments">

{% if user.country == country.name %}
        <br>
        <textarea name="content" cols="54" rows="6" style="font-size:18px" placeholder="type somthing about your country">  </textarea>
        <input type="text" name="picture_link" placeholder="Add picture Link">
        <input type="text" name="video_link" placeholder="Add video Link">
        <th> <input type="submit" value="Post" class="btn btn-info" align= "right"> </th>
{%endif%}



{%for post in posts%}
        <li class="cmmnt">
          <div class="avatar"><a href="javascript:void(0);">
          {% if post.user.gender == 'Male' %}
          <img src="{{url_for('static', filename='male.jpg')}}" width="55" height="55" alt="DarkCubes photo avatar"></div>
          {%else%}
          <img src="{{url_for('static', filename='female.png')}}" width="55" height="55" alt="DarkCubes photo avatar"></div>
          {%endif%}
          </a>
          <div class="cmmnt-content">

            <header><a href="{{url_for('otherprofile', friend_id= post.user.id ) }}" class="userlink">{{post.user.fullname}}</a></header>

            <p>{{post.content}}
            </p>

            <img src="{{post.picture_link}}">
            {% if post.video_link != '' %}
            <iframe width="420" height="345" src="{{post.video_link}}"></iframe>
            {% endif %}
          </div>  
        </li>

{%endfor%}
<img src="{{country.picture}}">

       
      <ul>
      </div>
  </div>

<br>
</form>
</body>
</html>

